.av-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
  width: 100%;
}

.half-width {
width: 50%;
}

.add-availability {
  padding: 0.1em;
}


.mat-column-total {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.mat-column-sr_no {
  flex: 0 0 5%;
}

.get-availability{
  width: 100%;
  height: 100%;
}

.button-container {
  margin-top: 1em;
  margin-right: 1em;
  float: right;
}
