<mat-card style="height: 100%;">
    <mat-tab-group mat-align-tabs="center">

        <!-- Tab to add Availability. -->

        <mat-tab class="add-availability" label="Add Availability">

            <div class="button-container">
                <button mat-button color="primary" (click)="addAvailability()"> Add </button>
            </div>

            <form [formGroup]="avForm">

                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="userEmailFormControl" placeholder="User Email">
                    <mat-hint *ngIf="!this.avForm.controls['userEmailFormControl'].hasError('email') && this.avForm.controls['userEmailFormControl'].value" >
                        Awesome!
                    </mat-hint>
                    <mat-error *ngIf="this.avForm.controls['userEmailFormControl'].hasError('email') && !this.avForm.controls['userEmailFormControl'].hasError('required')">
                        Woopsi! that might not be a valid email address.
                    </mat-error>
                    <mat-error *ngIf="this.avForm.controls['userEmailFormControl'].hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>


                <div class="full-width">
                    <label >From Date & Time</label>
                </div>

                <mat-form-field class="half-width">
                    <input matInput formControlName="fromDate" (focus)="fromDate.open()" [matDatepicker]="fromDate">
                    <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                    <mat-datepicker #fromDate [startAt]="startDate"></mat-datepicker>

                </mat-form-field>

                <mat-form-field class="half-width">
                    <input aria-label="default time" matInput formControlName="fromTimeSlot" [ngxTimepicker]="fromTimeSlot"  readonly>
                    <ngx-material-timepicker #fromTimeSlot></ngx-material-timepicker>
                </mat-form-field>


                <div class="full-width">
                    <label >To Date & Time</label>
                </div>

                <mat-form-field class="half-width">
                    <input matInput formControlName="toDate" (focus)="toDate.open()" [matDatepicker]="toDate">
                    <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                    <mat-datepicker #toDate [startAt]="startDate"></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="half-width">
                    <input aria-label="default time" matInput formControlName="toTimeSlot" [ngxTimepicker]="toTimeSlot"  readonly>
                    <ngx-material-timepicker #toTimeSlot></ngx-material-timepicker>
                </mat-form-field>


            </form>
        </mat-tab>


        <!-- Tab to fetch Availability. -->
        <mat-tab class="get-availability" label="Get-Availability">
            <div *ngIf="dataSource.loading$ | async">
                <mat-progress-bar
                    *ngIf="dataSource.loading$ | async"
                    mode="indeterminate"
                ></mat-progress-bar>
            </div>


            <mat-card>

              <form [formGroup]="filterForm">
                <mat-form-field class="half-width">
                  <input matInput formControlName="forDate" (focus)="forDate.open()" placeholder="Date" [matDatepicker]="forDate">
                  <mat-datepicker-toggle matSuffix [for]="forDate"></mat-datepicker-toggle>
                  <mat-datepicker #forDate ></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="half-width">
                  <mat-label>User</mat-label>
                  <input matInput formControlName="forUser" placeholder="User">
                </mat-form-field>
              </form>

            </mat-card>

            <mat-card>

            <mat-table
            [dataSource]="dataSource"
            matSort
            (matSortChange)="setFilter($event)">

            <ng-container matColumnDef="sr_no">
              <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
              <mat-cell *matCellDef="let row;let i=index ">
                {{i+1}}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="_id">
                <mat-header-cell *matHeaderCellDef> _Id </mat-header-cell>
                <mat-cell *matCellDef="let row;let i=index ">
                  {{row._id}}
                </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
              </ng-container>

            <ng-container matColumnDef="user">
                <mat-header-cell *matHeaderCellDef> User</mat-header-cell>
                <mat-cell *matCellDef="let row;let i=index ">
                  {{row.user}}
                </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
              </ng-container>

            <ng-container matColumnDef="fromTime">
              <mat-header-cell *matHeaderCellDef mat-sort-header="fromTime">
                From Time
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{row.fromTime | date:'medium'}}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="toTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header="toTime">
                  To Time
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  {{row.toTime | date:'medium'}}
                </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
              </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></mat-header-row>
            <mat-row
              *matRowDef="let row; columns: displayedColumns;"
            ></mat-row>
          </mat-table>

          <mat-card-actions>
              <mat-paginator
                #paginator
                class="mat-paginator-sticky"
                (page)="setFilter($event)"
                [length]="dataSource.length"
                [pageSizeOptions]="[10, 50, 100, 500]"
              >
              </mat-paginator>
            </mat-card-actions>
          </mat-card>
        </mat-tab>


    </mat-tab-group>
</mat-card>